
@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <script>
        function DeleteCall(id) {
            $.ajax({
                type: "POST",
                url: '/ModelAdministration/Delete',
                data: JSON.stringify({ id: id }),
                dataType: "json", contentType: "application/json; charset=utf-8",
                success: function (response) {
                    alert(response.message);
                    location.reload();
                },
                error: function (jqXHR, response) {
                    alert("Error! HTTP Status: " + jqXHR.status + " Message: " + respons.message);
                }
            });

        }

        function SearchByName() {
            window.location.href =
                "@Url.Action("SearchByName", "ModelAdministration")" +
                "?searchValue=" + $("#searchValue").val();
        }

        function SoryByColumn(column) {
             window.location.href =
                 "@Url.Action("SoryByColumn", "ModelAdministration")"
                 + "?page=" + 1
                 + "&sortBy=" + column
                 + "&sortOrder=" + "@ViewBag.SortOrder"
                 + "&searchValue=" + $("#searchValue").val();
        }

        function SetModalDropdown(makeId) {
            $.ajax({
                type: "POST",
                url: '/ModelAdministration/GetMakeDropdown',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#ModalMakeDropdown').html('')
                    if (response.data.length > 0) {
                        let data = $.parseJSON(response.data);
                        $.each(data, function (key, value) {
                            $('#ModalMakeDropdown')
                                .append($('<option>', { value: key })
                                    .text(value));
                        });
                    }
                    $('#ModalMakeDropdown').val(makeId);
                },
                error: function (jqXHR, response) {
                    console.log("Error! HTTP Status: " + jqXHR.status + " Message: " + response.message);
                }
            });

        }

        function EditModel(id,name,year,makeId) {
            $("#ModalTitle").html("Edit Model Record");
            $("#MyModal").modal();
            $("#ModalIdShow").show();
            $("#ModalId").text(id);
            $("#ModalMakeDropdown").val(makeId);
            $("#ModalName").val(name);
            $("#ModalYear").val(year);
            SetModalDropdown(makeId);
        }

        function AddModel() {
            $("#ModalTitle").html("Add Model Record");
            $("#MyModal").modal();
            $("#ModalIdShow").hide();
            $("#ModalMakeDropdown").val(1);
            $("#ModalId").text(null);
            $("#ModalName").val("");
            $("#ModalYear").val("");
            SetModalDropdown(0);

        }

        $("#SaveModel").click(function () {
            var model = { Id: $("#ModalId").text(), Name: $("#ModalName").val(), Year: $("#ModalYear").val(), MakeId: $("#ModalMakeDropdown").val()};
            $.ajax({
                type: "Post",
                url: model.Id == null || model.Id == "" ? "/ModelAdministration/Insert": "/ModelAdministration/Edit",
                data: JSON.stringify(model),
                dataType: "json", contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#MyModal").modal("hide");//TODO :: Search by name ?
                    window.location.href = "@Url.Action("Index", "ModelAdministration")";
                    alert(response.message);
                },
                error: function (jqXHR, response) {
                    alert("Error! HTTP Status: " + jqXHR.status + " Message: " + response.message);
                }
            })
        })

    </script>
}

<h2>Model Administration</h2>
<br />
<br />
<br />
<input type="text" id="searchValue" value="@ViewBag.SearchValue" />
<button type="button" id="btnSearch" class="btn btn-primary" onclick="SearchByName()">
    Search
</button>
@if (ViewBag.Items.Count > 0)
{
    <div style="display: flex; float: right; min-width:100px">
        <div>
            @if (ViewBag.CurrentPage > 1)
            {
                @Html.ActionLink("previous page", "GetByPage", new { page = ViewBag.CurrentPage - 1, sortBy = "Name", sortOrder = ViewBag.SortOrder, searchValue = ViewBag.SearchValue })
            }
        </div>
        <div style="margin: 0px 10px;">@ViewBag.CurrentPage</div>
        <div style="min-width:100px">
            @if (ViewBag.CurrentPage < ViewBag.PageMax)
            {
                @Html.ActionLink("next page", "GetByPage", new { page = ViewBag.CurrentPage + 1, sortBy = "Name", sortOrder = ViewBag.SortOrder, searchValue = ViewBag.SearchValue })
            }
        </div>
    </div>
    <table class="table table-bordered table-responsive table-hover">

        <tr>
            <th>
                @Html.ActionLink("Name", "SoryByColumn", new { page = 1, sortBy = "Name", sortOrder = ViewBag.SortOrder == "asc" ? "desc" : "asc", searchValue = ViewBag.SearchValue }, new { @id = "SortLink" })
            </th>
            <th style="width:100px">
                @Html.ActionLink("Year", "SoryByColumn", new { page = 1, sortBy = "Year", sortOrder = ViewBag.SortOrder == "asc" ? "desc" : "asc", searchValue = ViewBag.SearchValue }, new { @id = "SortLink" })
            </th>
            <th style="width:300px">
                @Html.ActionLink("Make", "SoryByColumn", new { page = 1, sortBy = "Make", sortOrder = ViewBag.SortOrder == "asc" ? "desc" : "asc", searchValue = ViewBag.SearchValue }, new { @id = "SortLink" })
            </th>
            <th style="width: 140px;">Actions</th>
        </tr>
        @foreach (var item in ViewBag.Items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Year</td>
                <td>@item.MakeName</td>
                <td>
                    <button type="button" id="btnDelete" class="btn btn-primary" onclick="DeleteCall(@item.Id)">
                        Delete
                    </button>
                    <button type="button" class="btn btn-primary" onclick="EditModel(@item.Id,'@item.Name',@item.Year,@item.MakeId)">
                        Edit
                    </button>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h2> No Data </h2>
}

<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        <div id="ModalIdShow">
                            <label class="modal-label">Id:</label>
                            <text id="ModalId" name="Id"></text>
                        </div> 
                        <div class="form-group">
                            <label class="modal-label">Name:</label>
                            <input class="modal-input" id="ModalName" name="Name" type="text" />
                        </div>
                        <div class="form-group">
                            <label class="modal-label">Make:</label>
                            <select id="ModalMakeDropdown" class="modal-input"></select>
                        </div>
                        <div class="form-group">
                            <label class="modal-label">Year:</label>
                            <input class="modal-input" id="ModalYear" name="Year" type="number" />
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-block btn-danger" id="SaveModel">Save</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


<button type="button" class="btn btn-primary" onclick="AddModel()">
    Add
</button>
